In [1]:
import pandas as pd
import numpy as np

In [70]:
data = pd.read_csv('total_data.csv', parse_dates=['DT'])
data.head()

,DT,주차,이름,상대,결과,점수,타순,P,선발,타수,...,희타,희비,타율,출루,장타,OPS,투구,avLI,RE24,WPA
0,2018-04-29,17,정훈,한화,W,4:3,7,3B,1,2,...,0,1,0.000,0.000,0.000,0.000,8,1.51,-0.72,-0.046
1,2018-05-02,17,정훈,KIA,L,6:12,6,1B,1,4,...,0,0,0.125,0.111,0.250,0.361,12,1.09,-0.33,-0.032
2,2018-05-04,17,정훈,@SK,L,4:5,9,PH,0,1,...,0,0,0.300,0.273,0.800,1.073,3,0.44,1.00,0.025
3,2018-05-08,18,정훈,@LG,W,4:2,5,PH,0,1,...,0,0,0.333,0.308,0.750,1.058,6,0.49,-0.26,-0.013
4,2018-05-10,18,정훈,@LG,W,7:2,9,PH,0,1,...,0,0,0.333,0.313,0.667,0.979,3,0.02,-0.26,-0.001

In [71]:
query = ('2018-01-01' <= data['DT']) & (data['DT'] <= '2018-12-31')
data2018 = data[query]
data2018

,DT,주차,이름,상대,결과,점수,타순,P,선발,타수,...,희타,희비,타율,출루,장타,OPS,투구,avLI,RE24,WPA
0,2018-04-29,17,정훈,한화,W,4:3,7,3B,1,2,...,0,1,0.000,0.000,0.000,0.000,8,1.51,-0.72,-0.046
1,2018-05-02,17,정훈,KIA,L,6:12,6,1B,1,4,...,0,0,0.125,0.111,0.250,0.361,12,1.09,-0.33,-0.032
2,2018-05-04,17,정훈,@SK,L,4:5,9,PH,0,1,...,0,0,0.300,0.273,0.800,1.073,3,0.44,1.00,0.025
3,2018-05-08,18,정훈,@LG,W,4:2,5,PH,0,1,...,0,0,0.333,0.308,0.750,1.058,6,0.49,-0.26,-0.013
4,2018-05-10,18,정훈,@LG,W,7:2,9,PH,0,1,...,0,0,0.333,0.313,0.667,0.979,3,0.02,-0.26,-0.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17540,2018-09-29,38,이진영,롯데,L,3:8,5,DH,1,4,...,0,0,0.307,0.366,0.394,0.760,7,0.64,0.01,-0.066
17541,2018-10-02,39,이진영,@LG,L,6:10,2,DH,1,5,...,0,0,0.310,0.367,0.406,0.773,21,1.15,1.45,0.146
17542,2018-10-06,39,이진영,삼성,W,6:1,2,DH,1,4,...,0,0,0.305,0.360,0.398,0.758,20,0.90,0.07,-0.049
17543,2018-10-10,40,이진영,@롯데,W,10:1,2,DH,1,4,...,0,0,0.310,0.364,0.405,0.769,13,0.56,0.70,-0.020
17544,2018-10-13,40,이진영,@두산,W,4:3,2,DH,1,5,...,0,0,0.318,0.370,0.417,0.787,8,1.12,-0.28,-0.010

In [72]:
new_data_columns = ['주차', '이름', '타순', '선발', '타수', '득점', '안타', '2타', '3타', '홈런', '루타', '타점', '도루', '도실',
                    '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '타율', '출루', '장타', 'OPS', '투구',
                    'avLI', 'RE24', 'WPA']

In [73]:
temp = pd.DataFrame(columns=new_data_columns)
temp

Empty DataFrame
Columns: [주차, 이름, 타순, 선발, 타수, 득점, 안타, 2타, 3타, 홈런, 루타, 타점, 도루, 도실, 볼넷, 사구, 고4, 삼진, 병살, 희타, 희비, 타율, 출루, 장타, OPS, 투구, avLI, RE24, WPA]
Index: []

[0 rows x 29 columns]

In [74]:
for player in data2018['이름'].unique():
    info_df = data2018[data2018['이름'] == player]
    temp = pd.concat([temp, info_df.groupby(['주차', '이름']).mean().reset_index()], ignore_index=True)
    
temp

,주차,이름,타순,선발,타수,득점,안타,2타,3타,홈런,...,희타,희비,타율,출루,장타,OPS,투구,avLI,RE24,WPA
0,17,정훈,5.833333,0.500000,1.833333,0.333333,0.666667,0.333333,0.0,0.166667,...,0.0,0.166667,0.168500,0.152833,0.385333,0.538333,5.500000,1.856667,0.331667,0.107000
1,18,정훈,6.500000,0.000000,1.250000,0.000000,0.250000,0.000000,0.0,0.000000,...,0.0,0.000000,0.334000,0.312000,0.689000,1.001000,6.250000,0.595000,-0.075000,0.009750
2,19,정훈,5.000000,0.400000,2.200000,0.800000,0.800000,0.400000,0.0,0.200000,...,0.0,0.000000,0.288600,0.280000,0.584400,0.864400,8.000000,0.682000,0.088000,-0.026400
3,20,정훈,6.166667,0.500000,2.333333,0.000000,0.333333,0.000000,0.0,0.000000,...,0.0,0.166667,0.286167,0.308833,0.561167,0.870167,12.333333,1.108333,-0.428333,-0.039000
4,21,정훈,4.400000,0.400000,2.200000,0.400000,0.400000,0.000000,0.0,0.000000,...,0.0,0.000000,0.253200,0.272400,0.461400,0.733800,6.800000,0.866000,-0.256000,-0.028800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4196,36,이진영,4.000000,0.666667,3.333333,0.333333,1.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.295333,0.356333,0.388333,0.744667,11.000000,1.450000,0.240000,0.044667
4197,37,이진영,4.500000,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.302500,0.362000,0.394500,0.756500,3.000000,2.805000,0.965000,0.170500
4198,38,이진영,6.000000,0.666667,3.500000,0.333333,1.166667,0.166667,0.0,0.000000,...,0.0,0.000000,0.311333,0.369667,0.402333,0.772000,13.000000,1.151667,0.075000,-0.028000
4199,39,이진영,2.000000,1.000000,4.500000,0.500000,1.250000,0.000000,0.0,0.250000,...,0.0,0.000000,0.307500,0.363750,0.399750,0.763500,19.250000,1.155000,0.062500,-0.001250
4200,40,이진영,3.250000,0.750000,3.500000,0.750000,2.000000,0.750000,0.0,0.000000,...,0.0,0.000000,0.313000,0.366250,0.409750,0.776250,7.000000,0.740000,0.632500,0.023500

In [75]:
# 주차별 경기 상대편 정보 추가
team = pd.read_csv('raw_data/TEAM.csv')
team_unique = team['T_NM'].unique()
team_away = ['@' + team for team in team_unique]
team_total = list(team_unique) + team_away
team_total

['한화',
 'KIA',
 'KT',
 'LG',
 '롯데',
 'NC',
 '두산',
 'SK',
 '삼성',
 '넥센',
 '키움',
 'SSG',
 '@한화',
 '@KIA',
 '@KT',
 '@LG',
 '@롯데',
 '@NC',
 '@두산',
 '@SK',
 '@삼성',
 '@넥센',
 '@키움',
 '@SSG']

In [76]:
for team in team_total:
    temp[team] = 0
    
temp

,주차,이름,타순,선발,타수,득점,안타,2타,3타,홈런,...,@KT,@LG,@롯데,@NC,@두산,@SK,@삼성,@넥센,@키움,@SSG
0,17,정훈,5.833333,0.500000,1.833333,0.333333,0.666667,0.333333,0.0,0.166667,...,0,0,0,0,0,0,0,0,0,0
1,18,정훈,6.500000,0.000000,1.250000,0.000000,0.250000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
2,19,정훈,5.000000,0.400000,2.200000,0.800000,0.800000,0.400000,0.0,0.200000,...,0,0,0,0,0,0,0,0,0,0
3,20,정훈,6.166667,0.500000,2.333333,0.000000,0.333333,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,21,정훈,4.400000,0.400000,2.200000,0.400000,0.400000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4196,36,이진영,4.000000,0.666667,3.333333,0.333333,1.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4197,37,이진영,4.500000,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4198,38,이진영,6.000000,0.666667,3.500000,0.333333,1.166667,0.166667,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4199,39,이진영,2.000000,1.000000,4.500000,0.500000,1.250000,0.000000,0.0,0.250000,...,0,0,0,0,0,0,0,0,0,0
4200,40,이진영,3.250000,0.750000,3.500000,0.750000,2.000000,0.750000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [77]:
temp['선발'] = 0
temp

,주차,이름,타순,선발,타수,득점,안타,2타,3타,홈런,...,@KT,@LG,@롯데,@NC,@두산,@SK,@삼성,@넥센,@키움,@SSG
0,17,정훈,5.833333,0,1.833333,0.333333,0.666667,0.333333,0.0,0.166667,...,0,0,0,0,0,0,0,0,0,0
1,18,정훈,6.500000,0,1.250000,0.000000,0.250000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
2,19,정훈,5.000000,0,2.200000,0.800000,0.800000,0.400000,0.0,0.200000,...,0,0,0,0,0,0,0,0,0,0
3,20,정훈,6.166667,0,2.333333,0.000000,0.333333,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,21,정훈,4.400000,0,2.200000,0.400000,0.400000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4196,36,이진영,4.000000,0,3.333333,0.333333,1.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4197,37,이진영,4.500000,0,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4198,38,이진영,6.000000,0,3.500000,0.333333,1.166667,0.166667,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4199,39,이진영,2.000000,0,4.500000,0.500000,1.250000,0.000000,0.0,0.250000,...,0,0,0,0,0,0,0,0,0,0
4200,40,이진영,3.250000,0,3.500000,0.750000,2.000000,0.750000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [78]:
for row in data2018.values:
    wknum, name, oppo, seonbal = row[1], row[2], row[3], row[8]
    find = (temp['주차'] == wknum) & (temp['이름'] == name)
    idx = temp[find].index
    temp.loc[idx, '선발'] += seonbal
    temp.loc[idx, oppo] += 1
    
temp

,주차,이름,타순,선발,타수,득점,안타,2타,3타,홈런,...,@KT,@LG,@롯데,@NC,@두산,@SK,@삼성,@넥센,@키움,@SSG
0,17,정훈,5.833333,3,1.833333,0.333333,0.666667,0.333333,0.0,0.166667,...,0,0,0,0,0,2,0,0,0,0
1,18,정훈,6.500000,0,1.250000,0.000000,0.250000,0.000000,0.0,0.000000,...,0,3,0,0,0,0,0,0,0,0
2,19,정훈,5.000000,2,2.200000,0.800000,0.800000,0.400000,0.0,0.200000,...,0,0,0,2,0,0,0,0,0,0
3,20,정훈,6.166667,3,2.333333,0.000000,0.333333,0.000000,0.0,0.000000,...,0,0,0,0,0,0,3,2,0,0
4,21,정훈,4.400000,2,2.200000,0.400000,0.400000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4196,36,이진영,4.000000,2,3.333333,0.333333,1.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,1,0,1,0,0
4197,37,이진영,4.500000,0,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4198,38,이진영,6.000000,4,3.500000,0.333333,1.166667,0.166667,0.0,0.000000,...,0,1,0,0,0,0,2,0,0,0
4199,39,이진영,2.000000,4,4.500000,0.500000,1.250000,0.000000,0.0,0.250000,...,0,2,0,0,0,0,0,0,0,0
4200,40,이진영,3.250000,3,3.500000,0.750000,2.000000,0.750000,0.0,0.000000,...,0,0,1,0,1,0,0,0,0,0

In [79]:
temp.to_csv('2018_ts_1week.csv', index=False)

In [80]:
new_columns = list(temp.columns) + ['target_주차', 'new_이름', 'target_OPS']
new_columns

['주차',
 '이름',
 '타순',
 '선발',
 '타수',
 '득점',
 '안타',
 '2타',
 '3타',
 '홈런',
 '루타',
 '타점',
 '도루',
 '도실',
 '볼넷',
 '사구',
 '고4',
 '삼진',
 '병살',
 '희타',
 '희비',
 '타율',
 '출루',
 '장타',
 'OPS',
 '투구',
 'avLI',
 'RE24',
 'WPA',
 '한화',
 'KIA',
 'KT',
 'LG',
 '롯데',
 'NC',
 '두산',
 'SK',
 '삼성',
 '넥센',
 '키움',
 'SSG',
 '@한화',
 '@KIA',
 '@KT',
 '@LG',
 '@롯데',
 '@NC',
 '@두산',
 '@SK',
 '@삼성',
 '@넥센',
 '@키움',
 '@SSG',
 'target_주차',
 'new_이름',
 'target_OPS']

In [81]:
temp2 = pd.DataFrame(columns=new_columns)
temp2

Empty DataFrame
Columns: [주차, 이름, 타순, 선발, 타수, 득점, 안타, 2타, 3타, 홈런, 루타, 타점, 도루, 도실, 볼넷, 사구, 고4, 삼진, 병살, 희타, 희비, 타율, 출루, 장타, OPS, 투구, avLI, RE24, WPA, 한화, KIA, KT, LG, 롯데, NC, 두산, SK, 삼성, 넥센, 키움, SSG, @한화, @KIA, @KT, @LG, @롯데, @NC, @두산, @SK, @삼성, @넥센, @키움, @SSG, target_주차, new_이름, target_OPS]
Index: []

[0 rows x 56 columns]

In [41]:
player_df = temp[temp['이름'] == '이진영']
feature_df = player_df[:-1].reset_index(drop=True)
target_df = player_df[['주차', '이름', 'OPS']][1:]
target_df.rename(columns={'주차':'target_주차', '이름':'new_이름', 'OPS':'target_OPS'}, inplace=True)
target_df.reset_index(drop=True, inplace=True)
concat_df = pd.concat([feature_df, target_df], axis=1)
concat_df

,주차,이름,타순,선발,타수,득점,안타,2타,3타,홈런,...,@NC,@두산,@SK,@삼성,@넥센,@키움,@SSG,target_주차,new_이름,target_OPS
0,12,이진영,2.000000,1,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,13,이진영,0.218333
1,13,이진영,5.333333,1,2.000000,0.000000,0.666667,0.333333,0.000000,0.000000,...,0,0,2,0,0,0,0,14,이진영,0.658000
2,14,이진영,5.400000,3,2.000000,0.600000,0.800000,0.000000,0.000000,0.000000,...,0,0,0,0,3,0,0,15,이진영,0.715800
3,15,이진영,4.600000,2,1.800000,0.200000,0.600000,0.200000,0.000000,0.000000,...,2,0,0,0,0,0,0,16,이진영,0.648200
4,16,이진영,5.400000,2,1.400000,0.400000,0.200000,0.000000,0.000000,0.000000,...,0,0,0,2,0,0,0,17,이진영,0.667000
5,17,이진영,8.000000,1,2.500000,0.500000,0.500000,0.500000,0.000000,0.000000,...,0,0,0,0,0,0,0,18,이진영,0.632250
6,18,이진영,6.500000,1,1.500000,0.000000,0.250000,0.000000,0.000000,0.000000,...,0,2,0,0,0,0,0,19,이진영,0.644333
7,19,이진영,6.000000,1,1.333333,0.000000,0.333333,0.000000,0.333333,0.000000,...,0,0,0,0,0,0,0,20,이진영,0.716000
8,20,이진영,5.600000,3,2.600000,0.400000,1.200000,0.000000,0.000000,0.200000,...,0,0,0,0,0,0,0,21,이진영,0.759600
9,21,이진영,3.600000,4,3.600000,0.600000,1.400000,0.200000,0.000000,0.000000,...,0,0,0,0,0,0,0,22,이진영,0.805000
10,22,이진영,3.666667,3,2.666667,1.000000,1.333333,0.666667,0.000000,0.000000,...,0,0,0,3,0,0,0,23,이진영,0.820667
11,23,이진영,7.000000,0,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,24,이진영,0.809167
12,24,이진영,6.833333,1,1.333333,0.166667,0.333333,0.166667,0.000000,0.166667,...,3,3,0,0,0,0,0,25,이진영,0.822200
13,25,이진영,7.400000,2,1.800000,0.200000,0.600000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,26,이진영,0.817667
14,26,이진영,6.000000,2,2.666667,0.333333,0.666667,0.666667,0.000000,0.000000,...,0,0,0,0,0,0,0,27,이진영,0.798400
15,27,이진영,4.000000,4,3.200000,0.400000,0.800000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,28,이진영,0.770000
16,28,이진영,7.000000,1,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,29,이진영,0.761200
17,29,이진영,4.000000,4,3.200000,0.000000,0.800000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,30,이진영,0.764000
18,30,이진영,5.166667,5,2.333333,0.333333,0.833333,0.166667,0.000000,0.000000,...,0,0,0,0,3,0,0,31,이진영,0.761250
19,31,이진영,3.000000,4,3.000000,0.500000,0.500000,0.250000,0.000000,0.000000,...,0,0,0,0,0,0,0,32,이진영,0.739200
20,32,이진영,4.200000,4,3.000000,0.200000,0.600000,0.000000,0.000000,0.000000,...,2,0,0,0,0,0,0,33,이진영,0.744000
21,33,이진영,2.000000,2,3.666667,1.000000,1.666667,0.333333,0.000000,0.000000,...,0,0,0,0,0,0,0,36,이진영,0.744800
22,36,이진영,2.000000,5,3.400000,0.800000,1.000000,0.200000,0.000000,0.000000,...,0,0,0,0,2,0,0,37,이진영,0.748667
23,37,이진영,4.000000,1,2.333333,0.333333,1.333333,0.000000,0.000000,0.000000,...,0,0,1,0,0,0,0,38,이진영,0.761500
24,38,이진영,8.000000,0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,39,이진영,0.771500
25,39,이진영,4.833333,5,4.166667,0.333333,1.333333,0.166667,0.000000,0.000000,...,0,0,0,2,0,0,0,40,이진영,0.764333
26,40,이진영,2.000000,3,4.333333,0.666667,1.000000,0.000000,0.000000,0.333333,...,0,0,0,0,0,0,0,41,이진영,0.776250

In [82]:
# 선수별로 한칸씩 내려서 데이터 구성하기

for player in temp['이름'].unique():
    player_df = temp[temp['이름'] == player]
    feature_df = player_df[:-1].reset_index(drop=True)
    target_df = player_df[['주차', '이름', 'OPS']][1:]
    target_df.rename(columns={'주차':'target_주차', '이름':'new_이름', 'OPS':'target_OPS'}, inplace=True)
    target_df.reset_index(drop=True, inplace=True)
    concat_df = pd.concat([feature_df, target_df], axis=1)
    temp2 = pd.concat([temp2, concat_df], ignore_index=True)
    
temp2

,주차,이름,타순,선발,타수,득점,안타,2타,3타,홈런,...,@NC,@두산,@SK,@삼성,@넥센,@키움,@SSG,target_주차,new_이름,target_OPS
0,17,정훈,5.833333,3,1.833333,0.333333,0.666667,0.333333,0.0,0.166667,...,0,0,2,0,0,0,0,18,정훈,1.001000
1,18,정훈,6.500000,0,1.250000,0.000000,0.250000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,19,정훈,0.864400
2,19,정훈,5.000000,2,2.200000,0.800000,0.800000,0.400000,0.0,0.200000,...,2,0,0,0,0,0,0,20,정훈,0.870167
3,20,정훈,6.166667,3,2.333333,0.000000,0.333333,0.000000,0.0,0.000000,...,0,0,0,3,2,0,0,21,정훈,0.733800
4,21,정훈,4.400000,2,2.200000,0.400000,0.400000,0.000000,0.0,0.000000,...,0,0,0,0,1,0,0,22,정훈,0.756333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,35,이진영,2.000000,4,3.250000,1.000000,1.250000,0.250000,0.0,0.000000,...,0,0,0,0,1,0,0,36,이진영,0.744667
4005,36,이진영,4.000000,2,3.333333,0.333333,1.000000,0.000000,0.0,0.000000,...,0,0,1,0,1,0,0,37,이진영,0.756500
4006,37,이진영,4.500000,0,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,38,이진영,0.772000
4007,38,이진영,6.000000,4,3.500000,0.333333,1.166667,0.166667,0.0,0.000000,...,0,0,0,2,0,0,0,39,이진영,0.763500
4008,39,이진영,2.000000,4,4.500000,0.500000,1.250000,0.000000,0.0,0.250000,...,0,0,0,0,0,0,0,40,이진영,0.776250

In [84]:
condition = temp2['target_주차'] - temp2['주차'] > 1
temp2.drop(temp2[condition], inplace=True)
temp2.reset_index(drop=True, inplace=True)
temp2

KeyError: "['주차' '이름' '타순' '선발' '타수' '득점' '안타' '2타' '3타' '홈런' '루타' '타점' '도루' '도실'\n '볼넷' '사구' '고4' '삼진' '병살' '희타' '희비' '타율' '출루' '장타' 'OPS' '투구' 'avLI'\n 'RE24' 'WPA' '한화' 'KIA' 'KT' 'LG' '롯데' 'NC' '두산' 'SK' '삼성' '넥센' '키움'\n 'SSG' '@한화' '@KIA' '@KT' '@LG' '@롯데' '@NC' '@두산' '@SK' '@삼성' '@넥센' '@키움'\n '@SSG' 'target_주차' 'new_이름' 'target_OPS'] not found in axis"